/**
 * colors
 * --------------
 * blue   #049cd8
 * yellow #fbd000
 * red    #e52521
 * green  #43b047
 */

@font-face {
    font-family: "BebasNeue";
    src: url("./fonts/bebas_neue/BebasNeue-Regular.ttf")
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-Thin.ttf"),
         url("./fonts/Montserrat/Montserrat-ThinItalic.ttf"),
         url("./fonts/Montserrat/Montserrat-Regular.ttf"),
         url("./fonts/Montserrat/Montserrat-Italic.ttf"),
         url("./fonts/Montserrat/Montserrat-Bold.ttf")
         url("./fonts/Montserrat/Montserrat-BoldItalic.ttf");
}

html {
    height: 100%;
    font-size: 1em;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #303030;
    background-color: #f9ba00;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAPklEQVQYV2P8c4vh///vDHDAyInE/n2R4T+MiywBEmOESaJLgEwDS2KTAOsE2YmwhYEBxX5kSXSHwXViczEABkMfveE+1/sAAAAASUVORK5CYII=) repeat;
}

#app {
    width: 400px;
    height: 100%;
    margin: 0 auto;
    background-color: #fbd000;
    border-right: 8px solid #30303020;
    border-left: 8px solid #30303020;
    box-sizing: border-box;
}

header {
    padding: 3rem 2rem;
    font-family: "BebasNeue", monospace;
    text-align: center;
    background-color: #fbd000;
}

header h1 {
    position: relative;
    margin: 0;
    font-size: 3rem;
}

header .game-version {
    position: absolute;
    top: -2.3rem;
    right: 1.3rem;
    font-size: 5rem;
    color: #e52521;
}

header .subtitle {
    margin: 0;
    font-size: 1.3rem;
}

section {
    padding: 0 2rem;
}

.tags {
    display: flex;
    flex-direction: row;
}

.tag {
    margin: 4px;
    padding: 5px 1rem;
    color: #ffffff;
    background-color: #43b047;
    border-radius: 3px;
}
