/* ---------------------------------------------------------------- VARIABLES */

:root {
  --blue-color: #049cd8;
  --dark-gray-color: #303030;
  --gray-color: #303030;
  --green-color: #43b047;
  --red-color: #e52521;
  --yellow-color: #fbd000;
}

/* ------------------------------------------------------------------ GLOBALS */

@font-face {
    font-family: "BebasNeue";
    src: url("./fonts/bebas_neue/BebasNeue-Regular.ttf")
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-Thin.ttf"),
         url("./fonts/Montserrat/Montserrat-ThinItalic.ttf"),
         url("./fonts/Montserrat/Montserrat-Regular.ttf"),
         url("./fonts/Montserrat/Montserrat-Italic.ttf"),
         url("./fonts/Montserrat/Montserrat-Bold.ttf")
         url("./fonts/Montserrat/Montserrat-BoldItalic.ttf");
}

html {
    height: 100%;
    font-size: 1em;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--dark-gray-color);
    background-color: var(--yellow-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "BebasNeue", monospace;
}

/* -------------------------------------------------------------- APP CONTENT */

.app-content {
    width: 400px;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* ------------------------------------------------------------------- HEADER */

header {
    padding: 3rem 2rem;
    text-align: center;
}

header h1 {
    position: relative;
    margin: 0;
    font-size: 3rem;
}

header .game-version {
    position: absolute;
    top: -2.3rem;
    right: 1.8rem;
    font-size: 5rem;
    color: var(--red-color);
}

header .subtitle {
    margin: 0;
    font-family: "BebasNeue", monospace;
    font-size: 1.3rem;
}

/* -------------------------------------------------------------- LEVELS LIST */

.levels {}

/* --------------------------------------------------------------- LEVEL CARD */

.level-card {
  padding: 20px;
  transition: background-color 0.8s;
}

.level-card:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.level-card h2 {
  margin: 0;
  font-weight: normal;
  font-size: 2rem;
  color: var(--green-color)
}

.level-card-infos {
  margin: 0;
  color: var(--dark-gray-color)
}

.level-card-infos .title {
  font-weight: bolder;
}
